.search{
    margin : auto 30%;
}

.search_form{
    display: flex;
    width: 100%;
    margin : 20px auto 20px 0px;

}

.search_form_text{
    width:95%;
    margin: 0.1em;
    float: left;
}
.result{
    width: 100%;
    border: solid 1px gray;
    background-color: rgb(228, 227, 227);
    font-size: 0.7rem;
    text-align: center;
}


#search_btn{
    width: 100%;
    flex: 1;
}

#select_btn{
    margin-bottom: 10%;
}