.search{
    margin : auto;
    width: 400px;
}

.search_form{
    display: flex;
    width: 100%;
    margin : 20px auto 20px 0px;
    background-color: rgb(255, 251, 188);;
}

.search_form_text{
    display: block;
    width:100%;
    margin: 5px;
}